<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration
      .DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="ExampleDatabase"/>
  <connectionStrings>
    <add name="ExampleDatabase" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ECommerceDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
